/*------ */
/* RESET */
/*------ */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

/*---------- */
/* VARIABLES */
/*---------- */

:root {
  /* main colors */
  --bg-color: #fff8e7;
  --dark-color: #222222;

  /* type colors */
  --Bug: #729f3f;
  --Dragon: #f16e57;
  --Fairy: #fdb8e9;
  --Fire: #fd7d25;
  --Ghost: #7a62a2;
  --Ground: #f8de41;
  --Normal: #a5acb1;
  --Psychic: #f266b9;
  --Steel: #9db7b8;
  --Dark: #707070;
  --Electric: #efd535;
  --Fighting: #d66724;
  --Flying: #3ec7ef;
  --Grass: #9bcc4f;
  --Ice: #53c4e8;
  --Poison: #b97fc8;
  --Rock: #a28c20;
  --Water: #4492c4;

  /* Darker type colors */
  --Bug-dark: #3e5a23;
  --Dragon-dark: #9f3c2f;
  --Fairy-dark: #c97ca4;
  --Fire-dark: #b74d18;
  --Ghost-dark: #4b3962;
  --Ground-dark: #b58b2f;
  --Normal-dark: #66777b;
  --Psychic-dark: #9f3d76;
  --Steel-dark: #5c7a7b;
  --Dark-dark: #363636;
  --Electric-dark: #b3a126;
  --Fighting-dark: #7f3c14;
  --Flying-dark: #2578a8;
  --Grass-dark: #4d6f2d;
  --Ice-dark: #288496;
  --Poison-dark: #6f3c6b;
  --Rock-dark: #6b5614;
  --Water-dark: #2c5e76;

  /* shadows */
  --box-shadow: 0px 4px 12px rgba(34, 34, 34, 0.2);
  --drop-shadow: 5px 5px 5px var(--dark-color);
  --text-shadow: 1px 1px 3px rgb(34, 34, 34, 0.5);

  /* borders */
  --border-radius-card: 14px;
  --border-radius-btn: 8px;
  --border-radius-tag: 100px;

  /* transitions */
  --transition: all 200ms ease-in-out;
}

/*-------- */
/* GENERAL */
/*-------- */

body {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--dark-color);
}

body,
html {
  overflow-x: hidden;
}

footer::before,
body::after {
  content: url("../assets/img/ball.png");
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}

body::after {
  top: -160px;
  right: -260px;
}

footer::before {
  bottom: 0px;
  left: -260px;
}

.main-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 32px auto;
  padding-inline: 32px;
}

button,
a,
.card {
  cursor: pointer;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

a {
  color: inherit;
  transition: var(--transition);
}

a:hover {
  font-weight: 500;
}

#buttons-container {
  display: flex;
  justify-content: center;
}

#load-btn {
  color: #fff;
  font-weight: 400;
  border: transparent;
  border-radius: var(--border-radius-btn);
  padding: 12px 32px;
  margin: 48px 0 16px 0;
  background: var(--dark-color);
  align-self: center;
  transition: var(--transition);
}

#load-btn:hover {
  color: var(--dark-color);
  transform: translate(-0.25rem, -0.25rem);
  background-color: #fecd03;
  box-shadow: var(--drop-shadow);
}

#load-btn:active {
  transform: translate(0);
  box-shadow: none;
  border: 1px solid var(--dark-color);
}

.error-message {
  color: red;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
  background-color: #3d68bf;
  color: #fff;
}

/*------ */
/* UTILS */
/*------ */

.mt-1 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 32px;
}

.bold {
  font-weight: 500;
}

/*---------- */
/* SEARCHBAR */
/*---------- */

.searchbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  margin-top: 48px;
}

.search-icon {
  position: absolute;
  margin: auto;
  width: 20px;
  top: 16px;
  left: 16px;
  color: var(--dark-color);
  opacity: 0.5;
}

.search-input {
  width: 300px;
  padding: 16px;
  border: transparent;
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow);
  color: var(--dark-color);
  padding-left: 48px;
}

/*---------- */
/* IMPRESSUM */
/*---------- */

.impressum-container {
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  padding: 32px;
}
.impressum {
  margin-top: 32px;
}

.impressum-link {
  color: var(--dark-color);
}

.impressum-link:hover {
  color: #3d68bf;
}

/*-------------- */
/* MEDIA QUERIES */
/*-------------- */

@media (max-width: 435px) {
  footer::before {
    display: none;
  }
  .container {
    padding: 0;
  }

  header img {
    max-width: 250px;
  }
}

@media (max-width: 360px) {
  .search-input {
    width: 260px;
  }
}
